
.hero {
  h1 {
    padding: 2rem var(--container-margin);
  }

  .description {
    padding: 2rem var(--container-margin);
    background: var(--color-hero);
    border-top: thin solid var(--darken-1);
    border-bottom: thin solid var(--darken-1);
  }
}
