a.social {
  display: inline-flex;
  margin: var(--space-1);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  align-items: center;
  text-decoration: none;
  width: 1em;
  overflow: hidden;

  &:focus, &:hover {
    text-decoration: underline;
  }
}
