{{ define "main" }}

<div class="hero">
	<h1>{{ $.Page.Params.Title }}</h1>
	<div class="description">
		{{ .Content }}
	</div>
</div>

<section class="blogs">
	{{ range .Pages }}
	<article>
		<a class="blog" href="{{ .URL }}">
			<div class="img" style="background-image: url({{ .Params.image }});"></div>
			<div class="info">
				<div class="date">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
				<h2>{{ .Title }}</h2>
				<span class="brief">{{ .Params.brief }}</span>
				<!-- <div class="reading">{{ .ReadingTime }}</div> -->
				<p>{{ .Summary }} ...</p>
			</div>
		</a>
	</article>
	{{ end }}
</section>


{{ end }}