{{ define "main" }}

{{ $lang := $.Page.Language.Lang }}

<div class="hero">
	<h1>{{ $.Page.Params.Title }}</h1>
	<div class="description">
		{{ .Content }}
	</div>
</div>

<section class="blogs">
	{{ range .Pages }}
	<article>
		<a class="visually-hidden" aria-hidden="true" href="{{ .Permalink }}">{{ .Title }}</a>
		<a class="blog" href="{{ .Permalink }}">
			<div class="img" style="background-image: url({{ .Params.image }});"></div>
			<div class="info">
				<div class="date">{{ partial "date-short.html" (dict "time" .Date "lang" $lang) }}</div>
				<h2>{{ .Title }}</h2>
				<span class="brief">{{ .Params.brief }}</span>
				<!-- <div class="reading">{{ .ReadingTime }}</div> -->
				<p>{{ .Summary }} ...</p>
			</div>
		</a>
	</article>
	{{ end }}
</section>


{{ end }}
