<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}">
{{ partial "head.html" . }}

<body class="{{ .Kind }} {{ anchorize .URL }} {{ .Section }}">

{{ block "header" . }}
{{ partial "header.html" . }}
{{ end }}

<main>
	{{ block "main" . }}
	<!-- Missing main block -->
	{{ end }}
</main>

{{ block "footer.html" . }}
{{ partial "footer.html" . }}
{{ end }}

{{ if .Site.Params.firebase }}
<script src="https://www.gstatic.com/firebasejs/{{ .Site.Params.firebase.version }}/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/{{ .Site.Params.firebase.version }}/firebase-firestore.js"></script>
<script>
firebase.initializeApp({
	apiKey: "{{ .Site.Params.firebase.apiKey }}",
  authDomain: "{{ .Site.Params.firebase.authDomain }}",
  projectId: "{{ .Site.Params.firebase.projectId }}"
});
const firestore = firebase.firestore();
firestore.settings({ timestampsInSnapshots: true });
</script>
{{ end }}

<script src="/theme.js"></script>
{{ block "scripts" . }}
<!-- No extra scripts -->
{{ end }}
</body>

</html>
