{{ define "main" }}

<section class="header">
	{{ $img := relURL (path.Join "images" "partners" .Params.category .Params.key) }}
	{{ partial "picture" (dict "img" $img "class" "card") }}

	<h1>{{ .Title }}</h1>
	{{ if .Params.website }}
	<a href="{{ .Params.website }}">{{ .Params.website }}</a>
	{{ end }}
</section>

<section class="content" {{ if .Params.lang }}lang="{{ .Params.lang }}"{{ end }}>
	{{ .Content }}
</section>

{{ if .Params.who }}
<section class="who" {{ if .Params.lang }}lang="{{ .Params.lang }}"{{ end }}>
	<h2>{{ i18n "partner_who" }}</h2>
	<p>{{ .Params.who }}</p>
</section>
{{ end }}

{{ if .Params.what }}
<section class="what" {{ if .Params.lang }}lang="{{ .Params.lang }}"{{ end }}>
	<h2>{{ i18n "partner_what" }}</h2>
	<p>{{ .Params.what }}</p>
</section>
{{ end }}

{{ if .Params.mission }}
<section class="mission" {{ if .Params.lang }}lang="{{ .Params.lang }}"{{ end }}>
	<h2>{{ i18n "partner_mission" }}</h2>
	<p>{{ .Params.mission }}</p>
</section>
{{ end }}


{{ if .Params.socials }}
<section class="socials">
	<h2>{{ i18n "partners_socials" }}</h2>
	<ul>
		{{ range .Page.Params.socials }}
		<li>
			<a href="{{ .link }}" class="social" rel="noopener noreferrer" target="_blank">
				{{ partial "icon.html" .icon }}
				{{ .name }}
			</a>
		</li>
		{{ end }}
	</ul>
</section>
{{ end }}


{{ if .Params.jobs }}
<section class="jobs" {{ if .Params.lang }}lang="{{ .Params.lang }}"{{ end }}>
	<h2>{{i18n "partners_jobs" }}</h2>
	<ul>
		{{ range .Page.Params.jobs }}
		<li class="job">
				<header>
					<a href="{{ .url }}" rel="noopener noreferrer" target="_blank">{{ .title }}</a>
				</header>
				<div class="city">
					{{ partial "icon.html" "map-marker" }}
					{{ .city }}
				</div>
				<a href="mailto:{{ .contact }}" class="contact">
					{{ partial "icon.html" "email" }}
					{{ .contact }}
				</a>
		</li>
		{{ end }}
	</ul>
</section>
{{ end }}


{{ end }}
