@import "root";
@import "variables";
@import '../../node_modules/sass-mq/mq';

@import "partials/base";
@import "partials/header";
@import "partials/main";
@import "partials/footer";
@import "partials/buttons";
@import "partials/socials";
@import "partials/jumbo";
@import "partials/hero";
@import "partials/table_of_contents";
@import "partials/speakers";
@import "partials/tickets";
@import "partials/partners";
@import "partials/tags";
@import "partials/icons";
@import "partials/type";
@import "partials/form";
@import "partials/album";

@import "pages/home";
@import "pages/sessions";
@import "pages/session";
@import "pages/partners";
@import "pages/partner";
@import "pages/speakers";
@import "pages/speaker";
@import "pages/blogs";
@import "pages/blog";
@import "pages/team";
@import "pages/faq";
@import "pages/code_of_conduct";