<header>
	<div class="logo">
		<a href="/">
			<img src="{{ .Site.Params.logos.header }}" alt="logo {{ .Site.Title }}">
		</a>
	</div>

	<input type="checkbox" id="menu-burger" class="visually-hidden"/>

	<label for="menu-burger"></label>

	<nav>
		<ul class="menu">
			{{- $currentPage := . -}}
			{{ range .Site.Menus.main }}
				{{ if (hasPrefix .URL "http") }}
					<a class="external"  target="_blank" href="{{ .URL }}">{{ .Name }}</a>
				{{ else }}
					<a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
			{{ end }}
			{{ end }}
		</ul>

		<ul class="languages">
			{{ range .Site.Home.AllTranslations }}
			<li>
				<a class="lang {{ if eq .Language $.Site.Home.Language }}active{{ end}}"
				   title="{{ .Language.LanguageName }}"
				   href="{{ .Permalink }}">
					 {{ emojify (printf ":%s:" .Language.LanguageName) }}
				</a>
			</li>
			{{ end }}
		</ul>
	</nav>


</header>