{{- if (eq .name "facebook") -}}
<a href="https://www.facebook.com/sharer.php?u={{ .url }}"
  class="social" rel="noreferrer" target="_blank">
	{{ partial "icon.html" .name }}
	{{- i18n "facebook_share_label" -}}
</a>
{{- else if (eq .name "twitter") -}}
{{ $text := i18n "twitter_share_text" }}
<a href="https://twitter.com/share?url={{ .url }}&text={{ $text }}"
  class="social" rel="noreferrer" target="_blank">
	{{ partial "icon.html" .name }}
	{{- i18n "twitter_share_label" -}}
</a>
{{- end -}}