<a class="visually-hidden" href="{{ .URL }}">{{ .Params.name }}</a>
<a class="speaker" href="{{ .URL }}">
	<div role="presentation" class="speaker-img" style="background-image: url({{ .Params.photo }});"></div>
	<div class="info">
		<figure class="speaker-company">
			<img src="{{ .Params.companyLogo }}" alt="">
			<figcaption>{{ .Params.company }}</figcaption>
		</figure>
		<strong class="speaker-name">{{ .Params.name }}</strong>
		<span class="speaker-country">{{ .Params.country }}</span>
	</div>
</a>