{{ define "main" }}

{{ .Content }}

{{ if .Params.info.show }}
<section class="info">
	<h2>Le DevFest Toulouse, c'est quoi ?</h2>
	<div>
		<p>{{ .Params.info.label }}</p>
		{{ if .Params.info.what }}
		<div class="numbers">
			{{range .Params.info.what }}
			<div class="number">
				<strong>{{ .value }}</strong>
				<div>{{ .label }}</div>
			</div>
			{{ end }}
		</div>
		{{ end }}
	</div>
</section>
{{ end }}


{{ if .Params.speakers.show }}
<section class="speakers">
	<h2>Rockstar speakers</h2>
	{{ if .Params.speakers.top }}
	<ul class="shuffle">
		{{ range where .Site.RegularPages "Params.id" "in" .Params.speakers.top }}
		<li>
			{{ partial "speaker.html" . }}
		</li>
		{{ end }}
	</ul>
	{{ end }}
	{{ if .Params.speakers.otherspeakers }}
	<a class="btn primary" href="/speakers/">Voir tous les speakers</a>
	{{ end }}
</section>
{{ end }}


{{ if .Params.subscribe.show }}
<section class="subscribe primary">
	<h2>Soyez notifié des dernières informations !</h2>
	<button class="inverse" id="btnSubscribe">Souscrire</button>
</section>
{{ end }}

{{ if .Params.tickets.show }}
<section class="tickets">
	<h2>Billets</h2>
	<a class="btn primary" target="_blank" href="https://www.billetweb.fr/devfest-toulouse-2019">Billeterie</a>

	<ul>
		{{range .Params.tickets.values }}
		<li>{{ partial "ticket.html" . }}</li>
		{{ end }}
	</ul>

	<p>
		<small>
			* Votre billet vous donne accès à toutes les conférences, aux pauses café, et au repas. L'hébergement n'est PAS
			inclus dans ce prix.
		</small>
	</p>
</section>
{{ end }}

{{ if .Params.location.show }}
<section class="location">
	<div class="map" style="background-image: url('{{ .Params.location.image }}');"></div>
	<div class="description">
		<h2>Le lieu</h2>
		<h3>{{ .Params.location.name }}</h3>
		<p>{{ .Params.location.description }}</p>
		<div class="direction">
			{{ .Params.location.address }}
			{{ if .Params.location.pointer }}
			<a class="btn btn-icon-only icon-direction" target="_blank" aria-label="Itinéraire" href="https://www.google.com/maps/dir/?api=1&destination={{ .Site.Params.location.pointer.latitude }},{{ .Site.Params.location.pointer.longitude }}"></a>
			{{ end }}
		</div>
	</div>
</section>
{{ end }}


{{ if .Params.partners.show }}
<section class="partners">
	<h2>Partenaires</h2>
	{{ $site := .Site }}
	{{ range .Site.Params.partners.categories }}
	<section class="partners-group partner-{{ . }}">
		<h3 class="fancy">
			<span>{{ . }}</span>
		</h3>
		<ul>
			{{ range where $site.Pages "Params.category" . }}
			<li>{{ partial "partner.html" . }}</li>
			{{ end }}
		</ul>
	</section>
	{{ end }}
</section>
{{ end }}

{{ end }}

