body > footer {
  background-color: var(--darken-1);
  color: var(--base-secondary-text);
  font-weight: 200;

  a:hover {
    text-decoration: underline;
  }

  // Header
  .footer-header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    flex-wrap: wrap;
    text-transform: uppercase;

    header {
      margin-right: var(--space-2);
    }

    & > div {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      ul.social-list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;

        li {
          display: inline-block;
          padding: var(--space-2);
        }
      }
    }

    .follow a[class*='social-'] {
      filter: grayscale(1);
      transition: filter var(--animation);

      &:hover, &:focus {
        filter: grayscale(0);
      }
    }

    .blog a {
      text-decoration: underline;
    }
  }

  // Content
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: var(--space-4);

    .subscribe {

      a.btn {
        color: var(--link-secondary-text);
      }
    }

    section {
      margin: var(--space-2) var(--space-4);

      @include mq($until: md) {
        margin: var(--space-2) 0;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      header {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: var(--space-2);
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: var(--space-3) 0;
        font-weight: 100;
        font-size: 0.9rem;

        li {
          margin: var(--space-1) 0;
        }
      }
    }
  }

  // Footer
  .footer-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--space-4);

    @include mq($until: md) {
      flex-direction: column;
      align-items: start;
      > * {
        margin: var(--space-2) 0;
      }
    }

    img {
      height: 2rem;
      width: auto;
    }
  }
}
