
.jumbo {
  position: relative;
  height: calc(100vh - var(--toolbar-height));
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to bottom, var(--darken-3), var(--darken-3)), var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  img {
    max-width: 100%;
    filter: drop-shadow(0px 1px 1px var(--darken-3));
  }

  p {
    margin: var(--space-2) 0;
    font-size: 2rem;
  }

  .inner {
    padding: var(--space-4);
    color: var(--primary-txt);
    border-radius: var(--space-3);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    text-shadow: 0 1px 1px var(--darken-3);
    max-width: 50vw;
    text-align: center;

    @include mq($from: lg) {
      max-width: 1000px;
    }

    h2 {
      font-size: 2rem;
      margin: var(--space-3) 0;
      font-weight: bold;
    }

    h3 {
      font-size: 1.8rem;
      margin: var(--space-3) 0;
    }

    &::before {
      background-image: linear-gradient(to bottom, var(--darken-3), var(--darken-3)), var(--bg-img);
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;

      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      filter: blur(20px);
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 2rem;
    height: 2.5em;
    width: 1.5em;
    color: var(--base);
    border: var(--space-1) solid currentColor;
    border-radius: 1em;

    &::before {
      content: '';
      position: absolute;
      left: calc(50% - var(--space-1));
      border: var(--space-1) solid currentColor;
      border-top-width: var(--space-2);
      border-bottom-width: var(--space-2);
      border-radius: 20%;
      background: currentColor;
      animation: scrollDownMove .8s ease-in-out alternate infinite;
    }
  }
}


@keyframes scrollDownMove {
  from {
    top: 1rem;
  }
  to {
    top: .75rem;
  }
}

@include mq($until: lg) {
  .jumbo .inner {
    max-width: 80vw;
    padding: 0;
  }
  .jumbo .inner h1 {
    img {
      max-width: 100%;
    }

    font-size: 1.5rem;
  }
}