.page.blog {
  .hero {
    .img {
      padding: var(--container-margin);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      text-shadow: 1px 0 0 var(--lighten-3);
      min-height: 45vmin;
    }

    h1 {
      color: var(--primary);
      padding-left: 0;
      padding-right: 0;
      small {
        display: block;
      }
    }
  }

  main h1, main .content {
    max-width: var(--theJdrSize);
    margin: 0 auto;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
    margin: 2rem var(--container-margin);

    @include mq($until: md) {
      margin: 1rem;
    }

    img {
      max-width: 100%;
    }

    .centered-img {
      text-align: center;
      margin: var(--space-3) 0;
    }

    h1,h2,h3,h4,h5,h6 {
      color: var(--primary);
      font-style: normal;
      font-weight: 400;
    }

    h1, h2, h3 {
      margin-top: 1.25rem; // 10px
      margin-bottom: 0.625rem; // 10px
    }

    h4, h5, h6 {
      margin-top: 0.625rem; // 10px
      margin-bottom: 0.625rem; // 10px
    }

    p {
      text-align: justify;
      margin-bottom: 1.5rem;
      line-height: 1.7rem;
    }

    ul {
      margin-left: 1rem;

      li {
        line-height: 1.7rem;
      }
    }
  }
}