.section.blog {


  main > section {
    padding-left: 0;
    padding-right: 0;
    margin: 2rem var(--container-margin);
  }

  @media (max-width: var(--breakpoint-lg)) {
    main > section {
      margin: 2rem var(--container-margin-mobile);
    }
  }

  .blogs {
    display: grid;
    grid-gap: var(--space-4);

    a {
      text-decoration: none;
      padding: var(--space-4);
      border-radius: var(--space-3);
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: var(--space-4);
      color: inherit;
      border-bottom: thin solid var(--darken-1);

      .img {
        display: inline-block;
        background-position: center center;
        background-size: cover;
        --size: 16rem;
        height: var(--size);
        width: var(--size);
        border-radius: var(--space-2);
      }

      .info {
        justify-content: center;
        h2 {
          margin: var(--space-3) 0;
        }
        .reading {
          align-self: flex-end;

          &::after {
            content: ' min.';
          }
        }

        .date {
          align-self: flex-start;
          color: var(--base-secondary-text);
        }

        p{
          line-height: 2rem;
        }
      }
    }
    @include mq($until: lg) {
      a {
        grid-template-rows: auto 1fr;
        grid-template-columns: auto;

        .img{
          width: 100%;
        }
      }
    }
  }
}
