.page.partners {

  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "logo title"
      "logo website";
    align-items: center;

    .card {
      grid-area: logo;
      height: 8em;
      width: 12em;
      display: inline-block;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-origin: content-box;
      padding: .25em;

      margin-right: 1em;
      box-shadow: .125em .125em .25em rgba(0, 0, 0, .5);
    }

    h1 {
      grid-area: title;
      align-self: end;
      font-size: 2.5em;
    }
    a {
      grid-area: website;
      align-self: start;
    }
  }

  .why {
  }

  .socials {
    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
      display: flex;
      align-items: center;
      font-size: 2em;
      li {
        margin: .25em;
      }
    }
  }

  .jobs {
    ul {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      padding-left: 0;

      .job {
        padding: .5em;
        margin: .5em;
        box-shadow: .125em .125em .25em rgba(0, 0, 0, .5);
        display: flex;
        flex-direction: column;

        header {
          font-size: 1.1em;
          font-weight: bold;
          font-style: italic;
          margin: .5em 0;
        }

        .city, .contact {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: #666;
          margin: .25em 0;

          .icon {
            width: 2ch;
          }
        }



      }
    }
  }
}